<!doctype html>
<html>
<head>
    <title>Home page</title>
    </head>
    <body>
        <h1>Home Page!</h1>
        <!-- {{}} allows you to type any variable that's going to be passed into this template -->
        <p>{{content}}</p>
        <p>{{r}}</p>
        <!-- inside these templates we can actually write python code
        with {% %} -->
        
        {% for x in range(10) %}
            {% if x % 2 == 1 %}
                <!-- x must be in the double brackets to act as a variable -->
                <p>{{x}}</p>
            {% endif %}
        {% endfor %}

        {% for x in fnames %}
            <p>{{x}}</p>
        {% endfor %}

    </body>
</html>